extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Bezout's identity

block subSubContent
	h3
		b Statement
	p For any two non-zero natural numbers \(a\) and \(b\) we can select natural numbers \(x\) and \(y\) such that
	$$ax+by=c$$
	p The value of \(c\) is always a multiple of the greatest common denominator of \(a\) and \(b\).
	p In addition, there exist \(x\) and \(y\) such that \(c\) is the greatest common denominator itself. This is the smallest positve value of c..
	h3
		b Proof
	p Let's take two numbers of the form \(ax+by\):
	$$d=as+bt$$
	$$n=ax+by$$
	p Where \(n>d\). And \(d\) is the smallest non-zero natural number form.
	p We know from Euclidian division above that for any numbers \(i\) and \(j\) there is the form \(i=jq+r\).
	p So there are values for \(q\) and \(r\) for \(n=dq+r\).
	p If \(r\) is always zero that means that all values of \(ax+by\) are multiples of the smallest value.
	p \(n=dq+r\) so \(r=n-dq\).
	p $$r=ax+by-(as+bt)q$$
	p $$r=a(x-sq)+b(y-tq)$$
	p This is also of the form \(ax+by\). Recall that \(r\) is the remainder for the division of \(d\) and \(n\), and that \(d=ax+by\) is the smallest positive value.
	p \(r\) cannot be above or equal to \(d\) due to the rules of euclidian division and so it must be \(0\).
	p As a result we know that all solutions to \(ax+by\) are multiples of the smallest value.
	p As every possible \(ax+by\) is a multiple of \(d\), \(d\) must be a common divisor to both numbers. This is because \(a.0+b.1\) and \(a.1+b.0\) are also solutions, and \(d\) is their divisor.
	p So we know that the smallest positive solution is a common mutliple of both numbers.
	p We now need to show that that \(d\) is the largest common denominator. Consider a common denominator \(c\).
	p $$a=pc$$
	p $$b=qc$$
	p And as before:
	p $$d=ax+by$$
	p So:
	p $$d=pcx+qcy$$
	p $$d=c(px+qy)$$
	p So \(d\ge c\)
