extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Harrod-Domar model
block subSubContent
	h3
		b Introduction to growth models
	p We have output as a function of capital.
	p \(Y=f(K)\)
	p We also have capital dynamics.
	p \(\dot K=I-\delta K\)
	p \(I=S=sY\)
	p This gives us:
	p \(\dot K = sY-\delta K\)
	h3
		b Introduction
	p The production function is:
	p \(Y=cK\)
	p This gives us:
	p \(\dot K=(sc-\delta )K\)
	h3
		b Growth
	p \(\dot Y=c\dot K \)
	p \(\dfrac{\dot Y}{Y}=c\dfrac{\dot K}{Y}\)
	p \(\dfrac{\dot Y}{Y}=c\dfrac{(sc-\delta )K}{cK}\)
	p \(\dfrac{\dot Y}{Y}=sc-\delta \)
	h3
		b Per-capita growth
	p Per capita income is:
	p \(y=\drac{Y}{L}\)
	p \(k=\drac{K}{L}\)

