extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Solow-Swan model
block subSubContent
	h3
		b Recap of growth models
	p As with the Harrod-Domar model we have output as a function of capital:
	p \(Y=f(K)\)
	p Capital dynamics:
	p \(\dot K=I-\delta K\)
	p \(I=S=sY\)
	p This gives us:
	p \(\dot K = sY-\delta K\)
	h3
		b Recap of the Harrod-Domar model
	p The production function of the Harrod-Domar model is:
	p \(Y=cK\)
	p And long-term growth of:
	p \(\dfrac{\dot Y}{Y}=sc-\delta \)
	h3
		b The Solow-Swan production function
	p We use a new production function:
	p \(Y=K^\alpha (AL)^{1-\alpha }\)
	p We add dynamics for technology and labour.
	p \(A_t=A_0e^{gt}\)
	p \(L_t=L_0e^{nt}\)
	p \(Y_t=K_t^\alpha (A_0e^{gt}L_0e^{nt})^{1-\alpha }\)
	h3
		b Effective captial
	p \(k_t=\dfrac{K_t}{A_tL_t}\)
	p \(Y_t=\dfrac{Y_t}{A_tL_t}\)
	p The dynamics of effective capital is:
	p \(\dot k_t=sk_t^{\alpha }-(n+\delta +g)k_t\)
	h3
		b Steady state
	p In equilibrium effective capital is stable.
	p \(\dot k_t^*=sk_t^{\alpha }-(n+\delta +g)k_t^8=0\)
	p \(sk_t^{*\alpha }=(n+\delta +g)k_t^8\)
	p \(k_t^*=\biggr (\dfrac{s}{n+g+\delta }\biggr )^{\dfrac{1}{1-\alpha }}\)

