extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Axioms of equality
	p
		b Reflexivity
	p $$\forall x(x=x)$$
	p
		b Symmetry
	p $$\forall x \forall y[(x=y)\rightarrow y=x]$$
	p
		b Transitivity
	p $$\forall x \forall y \forall z[(x=y \land y=z) \rightarrow x=z]$$
	p
		b Substitution for functions
	p $$\forall x \forall y[(x=y)\rightarrow (f(x)=f(y))]$$
	p
		b Substitution for formulae
	p $$\forall x \forall y[((x=y)\land P(x))\rightarrow P(y)]$$

	h3
		b Using equality to describe functions
	p
		b Injective
	p Function \(f\) is injective if:
	p $$\forall x\forall y\forall z[((f(x)=f(y))\rightarrow (x=y))\rightarrow I(f(z))]$$
	p Where \(I(z)\) is a predicate which returns true for injective functions.
	p One to one
	p Note that we already know:
	p $$\forall x\forall y\forall z[(f(x)=f(y))\leftarrow (x=y)]$$
	p So
	p $$\forall x\forall y\forall z[((f(x)=f(y))\leftrightarrow (x=y))\rightarrow I(f(z))]$$
	p
		b Surjective
	p Function \(f\) is surjective if:
	p $$[\forall y \exists x (f(x)=y)]\rightarrow S(f(z))$$
	p Where \(S(z)\) is a predicate which returns true for surjective functions.
	p
		b Bijection
	p Injective and surjective.
	p Inverse function
