extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Zermano-Fraenkel set theory 2 (extensionality)

	p $$\forall x \forall y[\forall z(z\in x \leftrightarrow z\in y)\rightarrow x=y]$$
	p
		b Reflexivity
	p Does \(forall x(x=x)\)?
	p We can replace the quantifiers:
	p $$\forall x [\forall z(z\in x \leftrightarrow z\in x)\rightarrow x=x]$$
	p We can show that the following is true:
	p $$\forall z(z\in x \leftrightarrow z\in x)$$
	p Therefore \(x=x\)
	p
		b Symmetry
	p Does \(forall x \forall y[(x=y)\rightarrow y=x]\)?
	p
		b Transitivity
	p Does \(\forall x \forall y \forall z[(x=y \land y=z) \rightarrow x=z]\)?
	p
		b Substitution for functions
	p Does \(\forall x \forall y[(x=y)\rightarrow (f(x)=f(y))]\)
	p
		b Substitution for formulae
	p Does \(\forall x \forall y[((x=y)\land P(x))\rightarrow P(y)]\)
	p Doesn’t this require iterating over predicates? Is this possible in first order logic??
