extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Boolean algebra

block subSubContent
	h3
		b Boolean algebra in propositional logic
	p We previously discussed properties of normal form, and the results from these properties.
	p If another structure shares these properties then they will also share the results.
	h3
		b Sets satisfy the definitions of a boolean algebra
	p If a mathematical structure has the following properties, it shares the results from normal form, and is a boolean algebra.
	ul
		li Both binary operators are commutitive - \(A\land B=B\land A\) and \(A\lor B=B\lor A\)
		li Both binary operators are associative - \((A\land B)\land C=A\land (B\land C)\) and \((A\lor B)\lor C=A\lor (B\lor C)\)
		li Completements - \(A\land ¬A=\emptyset \) and \(A\lor ¬A=U\)
		li Absorption - \(A\land (A\lor B)=A\) and \(A\lor (A\land B)=A\)
		li Identity - \(A\land U=A\) and \(A\lor \emptyset =A\)
		li Distributivity - \(A\land (B\lor C)=(A\land B)\lor (A\land C)\) and \(A\lor (B\land C)=(A\lor B)\land(A\lor C)\)
	p These hold for sets, and so boolean algebra holds for sets.
	