extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Axiom of extensionality

block subSubContent
	h3
		b Axiom of extensionality
	p If two sets contain the same elements, they are equal.
	p $$\forall x \forall y[\forall z(z\in x \leftrightarrow z\in y)\rightarrow x=y]$$
	p This is an axiom, not a definition, because equality was defined as part of first-order logic.
	p Note that this is not bidirectional. \(x=y\) does not imply that \(x\) and \(y\) contain the same elements. This is appropraite as \(\frac{1}{2}= \frac{2}{4}\) for example, even though they are written differently as sets.
	h3
		b Reflexivity of equality
	p The reflexive property is:
	p $$\forall x(x=x)$$
	p We can replace the intance of \(y\)  with \(x\):
	p $$\forall x [\forall z(z\in x \leftrightarrow z\in x)\rightarrow x=x]$$
	p We can show that the following is true:
	p $$\forall z(z\in x \leftrightarrow z\in x)$$
	p Therefore:
	p $$\forall x [T \rightarrow x=x]$$
	p \(x=x\)
	h3
		b Symmetry of equality
	p The symmetry property is:
	p $$\forall x \forall y[(x=y)\leftrightarrow (y=x)]$$
	p We know that the following are true:
	p $$\forall x \forall y[\forall z(z\in x \leftrightarrow z\in y)\rightarrow x=y]$$
	p $$\forall x \forall y[\forall z(z\in x \leftrightarrow z\in y)\rightarrow y=x]$$
	p So:
	p $$\forall x \forall y[\forall z(z\in x \leftrightarrow z\in y)\rightarrow (x=y\land y=x)]$$
	h3
		b Transitivity of equality
	p The transitive property is:
	p $$\forall x \forall y \forall z[(x=y \land y=z) \rightarrow x=z]$$
	h3
		b Substitution for functions
	p The substitutive property for functions is:
	p $$\forall x \forall y[(x=y)\rightarrow (f(x)=f(y))]$$
	h3
		b Substitution for formulae
	p The substitutive property for formulae is:
	p $$\forall x \forall y[((x=y)\land P(x))\rightarrow P(y)]$$
	p Doesn’t this require iterating over predicates? Is this possible in first order logic??
	h3
		b Result 1: The empty set is unique
	p We can now show the empty set is unique.
	h3
		b Result 2: Every element of a set exists
	p If an element did not exist, the set containing it would be equal to a set which did not contain that element.
	h3
		b Result 3: Sets are unique
	p 
