extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Axiom of pairing
block subSubContent
	h3
		b Axiom of pairing
	p For any pair of sets, \(x\) and \(y\) there is another set \(z\) which containing only \(x\) and \(y\).
	p $$\forall x \forall y \exists z \forall a[a\in z \leftrightarrow a=x \lor a=y]$$
	h3
		b For each set, there exists a set containing only that set
	p Take the axiom, but replace all instance of \(y\) with \(x\).
	p $$\forall x \exists z \forall a[a\in z \leftrightarrow a=x \lor a=x]$$
	p $$\forall x \exists z \forall a[a\in z \leftrightarrow a=x]$$
	h3
		b For any finite number of sets, there is a set containing only those sets
	p 
	h3
		b For any finite number of sets, there is a set containing the intersection of those sets
	p 
