extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Relations and axioms of equality
	h3
		b Equality
	p We also add the formula:
	p $$x=r$$
	p This is defined with the following axioms:
	p $$\forall x (x=x)$$
	p $$\forall x \forall y ((x=y)\rightarrow (y=x))$$
	p $$\forall x \forall y \forall z (((x=y)\land (y=z))\rightarrow (x=z))$$
	p $$\forall x \forall y (P(x)\rightarrow P(y))$$


	p Return true or false if defined