extends ../templates/blogHeader.jade

block blogContent
	h2
		b Models
	p 3rd March 2017
	h3
		b Natural numbers
	p We’ve sketched out basic logic. Let’s introduce numbers. We want to add axioms which allow us to accurately describe numbers. We add these to the axioms from first order logic. These are the Peano axioms.
	ul
		li There is a term called \(0\) which is a natural number. This introduces the concept of a natural number.
		$$N(0)$$
		li There is a unary function \(s(n)\) which is a natural number when \(n\) is a natural number. This introduces the concept of successors. Under just this axiom the natural numbers could be infinitely repeating \(0\)s, or loop, or any number of other things.
		ul
			$$\forall n (N(n)\rightarrow N(s(n)))$$
			li Or written instead:
			$$\forall n \in N (s(n) \in N)$$
		li Two natural numbers are equal if and only if their successors are equal. This prevents a natural number being the successor of two different numbers, that is, looping back into itself. 
		$$\forall m n \in N (m=n)\leftrightarrow (s(m)=s(n))$$
		li The successor function never returns \(0\). This prevents circular loops.
		$$\forall n \in N (¬(s(n)=0))$$
	p We need to add another rule. For example, a set which included multiple unconnected lines would satisfy the above axioms. This is the axiom of induction. This states that only \(0\) and successors of \(0\) are included in the natural numbers.
	p $$(N(0)\land \forall n \in N (N(s(n))))\rightarrow \forall n N(n)$$
	p This gives us our intuitive sense of natural numbers, going to from \(0\) to \(\infty\). We also have a unary function \(s(n)\) which increases each number by \(1\).
	p Let’s add another function: addition. Defined by the following axioms:
	p $$\forall a \in N (a+0=a)$$
	p $$\forall a b \in N (a+s(b)=s(a+b))$$
	p That is, adding zero to a number doesn’t change it, and \((a+b)+1=a+(b+1)\).
	p Let’s use this to solve \(1+2\):
	p $$1+2=1+s(1)$$
	p $$1+s(1)=s(1+1)$$
	p $$s(1+1)=s(1+s(0))$$
	p $$s(1+s(0))=s(s(1+0))$$
	p $$s(s(1+0))=s(s(1))$$
	p $$s(s(1))=s(2)$$
	p $$s(2)=3$$
	p $$1+2=3$$
	p All addition can be done iteratively like this.
	p Multiplication can be defined by:
	p $$\forall a \in N (a.0=0)$$
	p $$\forall a b \in N (a.s(b)=a.b+a)$$
	p That is, anything multiplied by \(0\) is \(0\), \(a.(b+1)=a.b+a\).
	p Let’s calculate \(2.2\).
	p $$2.2=2.s(1)$$
	p $$2.s(1)=2.1+2$$
	p $$2.1+2=2.s(0)+2$$
	p $$2.s(0)+2=2.0+2+2$$
	p $$2.0+2+2=2+2$$
	p $$2+2=4$$
	p Exponents can also be defined:
	p $$\forall a \in N a^0=1$$
	p $$\forall a b \in N a^{s(b)}=a^b.a$$
	p So \(2^2\) can be calculated like:
	p $$2^2=2^{s(1)}$$
	p $$2^{s(1)}=2.2^1$$
	p $$2.2^1=2.2.2^0$$
	p $$2.2.2^0=2.2.1$$
	p $$2.2.1=4$$
	p Additional functions could also be defined, following the same pattern:
	p $$\forall a \in N (a\oplus _n 0=c)$$
	p $$\forall a b \in N (a\oplus _{n} s(b)=(a\oplus_{n} b)\oplus_{n-1}a)$$
	p In addition to these functions we also have inverses. These are subtraction, division and logarithms respectively. For function \(\oplus\), its inverse is \(\oplus '\), as defined below:
	p $$a\oplus b=c$$
	p $$b=c\oplus 'a$$
	p So:
	p $$a+b=c\rightarrow b=c-a$$
	p $$a.b=c\rightarrow b=c/a$$
	p $$a^b=c\rightarrow b=log_a c$$
	p These will not necessarily have solutions for some sets of numbers. There is no natural number \(b\) that satisfies:
	p $$3+b=2$$
	p $$3.b=2$$
	p $$3^b=2$$
	p Ordinality
	p $$\forall ab \in N (\exists c \in N (a+c=b)\rightarrow a\le b)$$
	h3
		b Euclidian division
	p For two natural numbers (or integers) \(a\) and \(b\) where \(b\ne 0\), \(\exists q,r \in \n\).
	p $$a=bq+r$$
	p $$0<=r<b$$
	p That is, every natural number \(a\) is a multiple \(q\) of any other natural number \(b\), plus another natural number \(r\) less than the other natural number \(b\).
	p For example:
	$$17=2.8+1$$
	$$9=3.3+0$$
	These are unique. For each jump in \(q\), \(r\) falls by \(b\). As the range of \(r\) is \(b\) there is only one solution.
	h3
		b Greatest common divisor
	h3
		b Bezout's Identity
	p For any two non-zero natural numbers (or integers) \(a\) we can select natural numbers (or integers) \(x\) and \(y\) such that
	$$ax+by=c$$
	p The value of \(c\) is always a multiple of the greatest common denominator of \(a\) and \(b\).
	p In addition, there exist \(x\) and \(y\) such that \(c\) is the greatest common denominator itself. This is the smallest positve value of c..
	p
	p
		b Proof
	p Let's take two numbers of the form \(ax+by\):
	$$d=as+bt$$
	$$n=ax+by$$
	p Where \(n>d\). And \(d\) is the smallest non-zero natural number form.
	p We know from Euclidian division above that for any numbers \(i\) and \(j\) there is the form \(i=jq+r\).
	p So there are values for \(q\) and \(r\) for \(n=dq+r\).
	p If \(r\) is always zero that means that all values of \(ax+by\) are multiples of the smallest value.
	p \(n=dq+r\) so \(r=n-dq\).
	p $$r=ax+by-(as+bt)q$$
	p $$r=a(x-sq)+b(y-tq)$$
	p This is also of the form \(ax+by\). Recall that \(r\) is the remainder for the division of \(d\) and \(n\), and that \(d=ax+by\) is the smallest positive value.
	p \(r\) cannot be above or equal to \(d\) due to the rules of euclidian division and so it must be \(0\).
	p As a result we know that all solutions to \(ax+by\) are multiples of the smallest value.
	p As every possible \(ax+by\) is a multiple of \(d\), \(d\) must be a common divisor to both numbers. This is because \(a.0+b.1\) and \(a.1+b.0\) are also solutions, and \(d\) is their divisor.
	p So we know that the smallest positive solution is a common mutliple of both numbers.
	p We now need to show that that \(d\) is the largest common denominator. Consider a common denominator \(c\).
	p $$a=pc$$
	p $$b=qc$$
	p And as before:
	p $$d=ax+by$$
	p So:
	p $$d=pcx+qcy$$
	p $$d=c(px+qy)$$
	p So \(d>=c\)
	h3
		b Euclid's lemma
	p If a prime number \(p\) divides product \(a.b\) then \(p\) must divide at least of one of \(a\) or \(b\).
	p
		b Proof
	p From Bezout's identity we know that:
	p $$d=px+by$$
	p Where \(p\) and \(b\) are natural numbers and \(d\) is their greatest common denominator.
	p Let's choose a prime number for \(p\). There are no common divisors, other than one. As a result there are exist values for \(x\) and \(y\) such that:
	p $$1=px+by$$
	p Now, we are trying to prove that if \(p\) divides \(a.b\) then \(p\) must divide at least one of \(a\) and \(b\), so let's multiply this by \(a\).
	p $$a=pax+aby$$
	p We know that \(p\) divides \(pax\), and \(p\) divides \(ab\) by definition. As a result \(p\) can divide \(a\).
	h3
		b Fundamental theorem of arithmetic