extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Joint and marginal probability
block subSubContent
	h3
		b Joint probability
	p \(P(X=x\land Y=y)\)
	h3
		b Marginal probability
	p $$P(X=x)=\sum_{y}P(X=x\land Y=y)$$
	p $$P(X=x)=\sum_{y}P(X=x|Y=y)P(Y=y)$$

