extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Probability mass functions
block subSubContent
	h3
		b Definition
	p 
	p $$P(X=x)=P({\omega |X(\omega)=x})$$
	p For discrete probability, this is a helpful number. For example for rolling a die.
	p This is not helpful for continuous probability, where the chance of any specific outcome is \(0\).
	h3
		b Marginal probability
	p $$P(X=x)=\sum__{y}P(X=x\land Y=y)$$
	p $$P(X=x)=\sum_{y}P(X=x|Y=y)P(Y=y)$$

