extends ./subSubTemplate.jade

block subSubContent
	h2
		b Transformations
	h3
		b Cumulative probability function
	p We have a probability density function \(P(x)\). This is shorthand for \(P(X=x)\).
	p We may often want to instead show: \(P(X\ge x)\).
	p This is the same as
	p $$P(X\ge x)=P[(X=x) \lor (X=x+\delta )\lor …]$$
	p As these are mutually exclusive:
	p $$P(X\ge x)=P(X=x)+P(X=x+\delta )…$$
	p Then for the discrete case:
	p $$P(X\ge x)=\sum_{a=x}^\inf P(a)$$
	p For the continuous case:
	p $$P(X\ge x)=\int _{a=x}^\inf P(a)$$
	p Note that:
	p $$P[(X \ge x) \lor (X< x)]=P(\omega )=1$$
	p $$P[(X \ge x) \lor (X< x)]=P(X\ge x)+P(X<x)$$
	p So:
	p $$P(X\ge x)+P(X<x)=1$$
	p $$P(X> x)+P(X\le x)=1$$

	p We may also want to show the probability that a variable is between two points.
	p $$P(a\le x\le b)$$
	p Note that:
	p $$P[(a\le x)\land (x\le b)]=P(a\le x)+P(x\le b)-P[(a\le x)\lor (x\le b)]$$
	p $$P(a \le x\le b)=P[(a\le x)\land (x\le b)]$$
	p So
	p $$P(a \le x\le b)=P(a\le x)+P(x\le b)-P[(a\le x)\lor (x\le b)]$$
	p If \(b>a\):
	p $$P[(a\le x)\lor (x\le b)]=1$$
	p $$P(a \le x\le b)=P(a\le x)+P(x\le b)-1$$
	p Else:
	p $$P[(a\le x)\lor (x\le b)]=P(a\le x)+P(x\le b)$$
	p $$P(a \le x\le b)=0$$

	h3
		b Inverse of the cumulative probability function
