extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Boolean algebra

block subSubContent
	h3
		b Axioms
	p Consider the following model. There are elements with two binary operations and one unary operation such that:
	ul
		li Both binary operators are commutitive - \(A\land B=B\land A\) and \(A\lor B=B\lor A\)
		li Both binary operators are associative - \((A\land B)\land C=A\land (B\land C)\) and \((A\lor B)\lor C=A\lor (B\lor C)\)
		li Completements - \(A\land ¬A=\emptyset \) and \(A\lor ¬A=U\)
		li Absorption - \(A\land (A\lor B)=A\) and \(A\lor (A\land B)=A\)
		li Identity - \(A\land U=A\) and \(A\lor \emptyset =A\)
		li Distributivity - \(A\land (B\lor C)=(A\land B)\lor (A\land C)\) and \(A\lor (B\land C)=(A\lor B)\land(A\lor C)\)
	p Propositional logic is a model for this, where we use the operations of negation, unity and intersection, and \(T\) for \(U\) and \(F\) for \(\emptyset \).
	h3
		b Duality
	p Duality is the principle that symbols have a reverse, and when all symbols are reversed, the value of the statement is reversed.
	p In propositional logic there are two relevant symbols:
	ul
		li \(\land\) and \(\lor \)
		li \(A\) and \(¬A\)
	h3
		b De Morgan's Laws
	p We can use duals to get De Morgan's laws.
	ul
		li $$¬(A\lor B)\Leftrightarrow (¬A\land ¬B)$$
		li $$¬(A\land B)\Leftrightarrow (¬A\lor ¬B)$$
